body {
    font-family:sans-serif;
}
h1{
    color:navy;
    font-family: serif;
    margin-bottom: 0; 
}
h2{
    font-family: serif;
    color: maroon;
    margin-top: 0;
    font-size: 1.7em;
       
}

h4{
    margin-top: .3em;
    margin-bottom: .3em;
    color: navy;
    font-family: serif;
    font-size: 1.2em;
     
}
p.description{
    font-style: italic;
    color:black;
    margin-top: .3em;
  
}
 p.price{
     font-size: .7em;
     margin-bottom:0;
}

.type{
    color:maroon;
    font-family: serif;
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 0em; }

   
    li{list-style-type: none;
    }
    
    

    