/*CSS DOCUMENTS*/



img{
    width:100%;
    align-content: center;
margin-left: 1em;
margin-right: 1em;}
    
    
body {
    background-color: rgb(254, 254, 254);
    
}

h1{
    font-family:  "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    text-align: center; 
    font-size: 1.9emem;
}

h2{
    font-family: Georgia, Times, "Times New Roman", serif; 
    text-align: center;
    font-size: 1em;}
}


h3{
    font-family: font-family:  "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 2.3em;
    padding-top: 0em;
    text-decoration: bold;
}




    
h4
{font-family:  "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    float: none;
    font-size: .9em;
    padding-bottom: 0em;
    padding-top: 0em;
    
}


p{font-family: Georgia, Times, "Times New Roman", serif;
font-size: .9em;
line-height: 1.2em;
padding-top: 0em}



div.menu{
    float: left;
    width: 50%;
    padding-top: 1em;
    margin-left: 1em;
    margin-bottom: 3em;
    
}

div.menu2 {
    float:left;
    padding-top: 1em;

}

.mainmenu {font-family:  "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
font-size: .7em;
font-style: oblique;
text-decoration-color:  rgb(0,0,0);}

div.mission {
    margin-left: 1em;
    margin-right: 1em;
    text-align: left;
    margin-bottom:3em;}
    
div.bakedgoods {
    margin-left: 25em;
    margin-right: 12em;
 width: 40%;
    float:left;
    text-align: center;
    line-height: 3em;
    margin-bottom: 3em;

}

div.mission
{
 margin-left: 10em;
    margin-right: 10em;
font-size: 1.2em;
    margin-bottom: 3em;
     
}

div.tea{
    text-align: center;
    margin-left: 17em;
    margin-right: 17em;
    padding-top: 0em;
    padding-bottom: 0em;
    float: left;
    width: 50%;
    margin-bottom: 3em;
  
}
div.hours {
    text-align: center;
    margin-left: 17em;
    margin-right:17em;
    
    
    
}
   





