/*CSS DOCUMENT*/
<head>
<title>Johnsonville Italian Sausage Recipe</title>


</head>

<body>

img {
width:100%;
        
}

div.introimage{
    width:50%;
    margin: auto;
}

h1 {
   font-family: serif;
    font-size: 3.5em;
    color: rgb(178,34,34);
    text-align:  center;
    margin-top: 0em;
    margin-bottom:0em;
    
    
    
}

h2 {
    font-family: serif;
    font-size: 2em;
    text-align: center;
    margin-top: 0em; 
    font-style: italic;
    
}

h3{
    font-family: serif;
    font-size: 2em;
    color: rgb(178,34,34);
    margin-bottom: 0em;
    margin-top: 0em;
    margin-left: .7em;
}
    

div.ingredients{
    width:50%;
    float:left;
    font-size: 1em;
    font-family: sans-serif;
    line-height: 1.7em;
 
    
    }
    


div.directions{
    width:50%;
    float:left;
    font-size: 1em;
    font-family:sans-serif;
    margin-bottom: 0em;
    margin-top: 0em;
    line-height: 1.7em;
    
   
    
}
    
p{
    font-size:1.2em;
    font-family:sans-serif;
    font-style: italic;
    margin-top: .5em;
    margin-bottom: 1em;
    
    
} 



    
    
</body> 